<!-- start widget -->
<div class="widget">
	<h4 class="title">Consulting services</h4>
	<div class="content">
		I am a real time communications (RTC) technologist and consultant. I help with new product development, product management, marketing, and go-to-market activities.
        See the <a href="/consulting-services">consulting services </a> page for more details.
	</div>
</div>
<!-- end widget -->